@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    color: #141e0d;
}
